@model HMS.Entities.App.PersonEducation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonEducation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateType.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldStudy.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
