@model PersonMarriageViewModel
@{
    ViewData["Title"] = "اطلاعات تأهل";
    Layout = "_EditLayout";
}
<div class="Person">
    <span>اطلاعات تأهل</span>
    <span>@Context.Request.Query["title"]</span>
    <input type="hidden" id="PersonId" value="@Context.Request.Query["id"]" />
    <script type="text/javascript">
        function getPersonId() {
            return {
                id: window.$("#PersonId").val()
            }
        }
    </script>
</div>
<div class="k-rtl">
    @(Html.Kendo().DataSource<PersonMarriageViewModel>()
                        .Name("PersonMarriageDataSource")
                        .Ajax(dataSource => dataSource.Read(read => read.Action("GetPersonMarriage", "PersonMarriage").Data("getPersonId"))
                        .ServerOperation(false)
                        .PageSize(50)
                        )
    )
    @(Html.Kendo().Grid<PersonMarriageViewModel>()
                    .Name("PersonMarriageGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(e => e.MarriageDivorce).Width(180).Filterable(x => x.Extra(false));
                        columns.Bound(e => e.IncidentDate).Width(130).Filterable(false)
                            .ClientTemplate("#= moment(IncidentDate).isValid() ? moment(IncidentDate).format('jYYYY/jMM/jDD'):'ثبت نشده' #");
                        columns.Bound(e => e.OfficeNumber).Width(180).Filterable(x => x.Extra(false));
                        columns.Bound(e => e.RegisterNumber).Width(180).Filterable(x => x.Extra(false));
                        columns.Command(command =>
                                            {
                                                command.Custom("Edit").Text("ویرایش").IconClass("fa blue fa-edit").Click("EditPersonMarriage");
                                                command.Custom("Delete").Text("حذف").IconClass("fa red fa-window-close").Click("DeletePersonMarriage");
                                            });
                    })
                    .ToolBar(toolbar =>
                        {
                            toolbar.Custom().Text("ایجاد").Name("InsertPersonMarriage");
                        })
                    .Selectable(selectable =>
                    {
                        selectable.Mode(GridSelectionMode.Multiple);
                        selectable.Type(GridSelectionType.Row);
                    })
                    .PersistSelection(true)
                    .Pageable(pageable => pageable
                                .Refresh(true)
                                .Input(true)
                                .ButtonCount(5)
                                .PageSizes(new[] { 10, 20, 30, 40, 50, 100 }))
                    .Navigatable()
                    .AllowCopy(true)
                    .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn))
                    .Filterable(x => x
                    .Messages(c => c
                    .Search("جستجو")
                    .SelectValue("انتخاب شده ها")
                    .Info("مشخصات")
                    .SelectedItemsFormat("تعداد انتخاب ها:{0}")))
                    .Scrollable()
                    .DataSource("PersonMarriageDataSource")
    )
    <script>
        $(function () {
            var grid = window.$("#PersonMarriageGrid").data("kendoGrid");
            window.$(".k-grid-SaveGridSetting").click(function (e) {
                e.preventDefault();
                localStorage["PersonMarriageGrid-options"] = window.kendo.stringify(grid.getOptions());
            });

            window.$(".k-grid-InsertPersonMarriage").click(function (e) {
                e.preventDefault();
                window.$.fancybox.open({
                    src: '@Url.Action("Create")?personId=' + window.$("#PersonId").val(),
                    type: 'iframe',
                    opts: {
                        afterClose: function () {
                            window.$('#PersonMarriageGrid').data('kendoGrid').dataSource.read();
                        }
                    }
                });
            });
        });
    </script>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        window.$(".createEdit").fancybox({
            afterClose: function () {
                alert(message);
            }
        }); // close fancybox
    }); // close ready

    function EditPersonMarriage(e) {
        e.preventDefault();
        var id = this.dataItem(window.$(e.currentTarget).closest("tr")).Id;
        var personId = this.dataItem(window.$(e.currentTarget).closest("tr")).PersonId;
        window.$.fancybox.open({
            src: '@Url.Action("Edit")/?id=' + id + '&personId=' + personId,
            type: 'iframe',
            opts: {
                afterClose: function () {
                    window.$('#PersonMarriageGrid').data('kendoGrid').dataSource.read();
                }
            }
        });
    }

    function DeletePersonMarriage(e) {
        e.preventDefault();
        var id = this.dataItem(window.$(e.currentTarget).closest("tr")).Id;
        window.$.fancybox.open({
            src: '@Url.Action("Delete")/'+id,
            type: 'iframe',
            opts: {
                afterClose: function () {
                    window.$('#PersonMarriageGrid').data('kendoGrid').dataSource.read();
                }
            }
        });
    }

    function InsertPersonMarriage(e) {
        e.preventDefault();
        var id = @Context.Request.Query["id"];
        window.$.fancybox.open({
            src: '@Url.Action("Create","PersonMarriage")/'+id,
            type: 'iframe',
            opts: {
                afterClose: function () {
                    //$('#PersonMarriageGrid').data('kendoGrid').dataSource.read();
                }
            }
        });
    }

</script>
<style>
    .fa {
        margin-left: 4px;
    }

    .k-window-title {
        float: right;
        margin-right: 18px;
    }

    .Person {
        width: 100%;
        height: 64px;
        border-radius: 25px 0 25px 0;
        text-align: center;
        font-size: 42px;
        margin-bottom: 9px;
        background-color: #4bc3b7;
        color: #3F51B5;
    }
</style>
